Li_loo_1_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
