Li_loo_1_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_1_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_10_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_11_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_12_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_13_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_14_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_15_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_16_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_2_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_3_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_4_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_5_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_6_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_7_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_1_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_10_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_11_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_12_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_8_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_8_val_9_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_13_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_14_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_15_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_2_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_3_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_4_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_5_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_6_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
Li_loo_9_val_7_p_0.5.mat filter=lfs diff=lfs merge=lfs -text
